body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

:root {
  --eval-color: rgb(175, 225, 175);
  --puce-color: rgb(173, 216, 230);
}

textarea.expression {
    width: 100%;
    height: 100px;
}

.eval {
    #background: var(--puce-color);
}

.evalNode {
    #background-color: var(--rank-color);
}

.normalText {
    font-size: 80%;
}

code {
    font-size: 140%;
    font-weight: bold;
}

.evalNode code {
    font-size: 100%;
    font-weight: bold;
}
.eval code {
    font-size: 100%;
    font-weight: bold;
}

.legend {
    text-align: center;
    font-style: italic;
}

.error {
    color: black;
    border: 2px solid yellow;
    background: pink;
}

table.polynomials {
    color: black;
    background: white;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
}
table.polynomials tr td { background: white; }
tr.polynomials { background: white; }

.factor {
    color: black;
    background: lightgreen;
}
.fixedFactor {
    color: black;
    background: lightblue;
}
.uf {
    color: black;
    background: tomato;
}

.control {
    color: black;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid black;
}


.cycles-text {
    font-size: 80%;
}

div.diagram {
    width: 400px;
    height: 240px;
    margin: 0px;
    border: 0px;
}

div.diagram-short {
    width: 400px;
    height: 100px;
    margin: 0px;
    border: 0px;
}

li { padding-top: 5px; padding-bottom: 5px; }


.cycles-diagram {
    border: solid 1px black;
    width: 700px;
    height: 400px;
}
.points-diagram {
    border: solid 1px black;
    width: 700px;
    height: 400px;
}


label.columnSelector {
    font-size: 80%;
}

label.columnSelector > a {
    background: #f9f6ef;
    padding: 2px;
    border-radius: 3px;
}


table.box-action {
    border-top: solid 0px black;
    text-align: center;
    font-size: 90%;
    width: 100%;
    #width: 700px;
    #border-left: dotted black 1px;
    #border-bottom: dotted black 1px;
}

td {
    vertical-align: top
}

table.box-action caption {
    border-top: dashed black 1px;
    font-weight: bold;
}

table.box-action tr { vertical-align: top; background: Ivory; }
table.box-action tr:nth-child(even) {}
table.box-action tr:nth-child(odd) { background: WhiteSmoke; }

table.box-action th {
}
table.box-action td {
}

span.sum-total {
    border-top: 1px solid;
}

table.box-action td.product-total {
    border-top: 2px double;
    color: blue;
    font-weight: bold;
}




td.centre-label { text-align: center; }

td.cell { border: 1px dotted blue; padding: 3px; margin: 2px; border-radius: 25%; text-align: center; font-size: 70%; }
td.cell sub { font-size: 70%; }
td.pack { border: 1px dotted black; padding: 2px; margin: 2px; text-align: center; border-radius: 5%; }
tr.pack {}
table.pack { border: 0px dotted green; padding: 0px; margin: 0px; border-spacing: 2px; width: 100%; font-size: 70%; }
table.packing { border: 1px dotted blue; padding: 0px; margin: 0px; border-spacing: 2px;  border-radius: 5%; }
table.packing caption { font-size: 60%; }

.leftFlow {
   float: left;
}
.rightFlow {
   float: right;
}
.noFlow {
   float: inline-start;
}
tr.selected td {
    background: lightblue;
}

.grid-of-cells {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.generalization-table {
    font-size: 100%;
    page-break-inside: avoid;
}
.generalization-table tr:first-child th { border-bottom: solid blue 1px; }

.generalization-table td,th {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    vertical-align: top;
}

body.smallish {
    font-size: 80%;
}
.expressionScriptResult {
}
.expressionScriptError {
    color: red;
}

@media print {
   body.smallish { font-size: 70%; }
}
